@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
     /* background-image: linear-gradient(to bottom, white, #023047); */
     background-color: white;
     background-repeat: no-repeat;
     background-size: cover;
     /* height:120vh; */
     font-family: 'Manrope';
     overflow-x: hidden;
}